.badge-0001 {
  display: inline-block;
  line-height: 26px;
  height: 26px;
  font-size: 12px;
  font-weight: 700;
  padding: 0 12px;
  color: #ffffff;
  background: #e40909;
  &.badge-0001--bg-color-gray {
    background: #777777;
  }
}
