.field-heading-0001 {
  display: flex;
  .field-heading-0001__badge-wrapper {
    & + .field-heading-0001__text {
      margin-left: 8px;
    }
  }
  .field-heading-0001__text {
    font-size: 16px;
    line-height: 26px;
  }
}
