.field-error-messages-0001 {
  padding: 12px 24px 12px 48px;
  background: #e40909;
  border-radius: 4px;
  .field-error-messages-0001__list-group {
    list-style: disc;
  }
  .field-error-messages-0001__list-item {
    color: #ffffff;
    font-size: 16px;
  }
}
