.l-bodyInner0001 {
  position: relative;
  min-height: 100vh;
  padding-bottom: 41px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  @media #{$g__is-md} {
    min-height: 0;
  }
  .l-bodyInner0001__headerWrapper {
  }
  .l-bodyInner0001__contentsWrapper {
  }
  .l-bodyInner0001__footerWrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
